.navegacao {
  text-align: center;
  justify-content: center;
  padding: 50px;
}

.navegacao .form-control {
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  border: 0.3px solid rgb(185, 185, 185);
}

.navegacao .btn {
  padding: 15px;
  border-radius: 20px;
  border: 0.3px solid rgb(185, 185, 185);
  width: 70px;
  cursor: pointer;
  background-color: #354494;
  color: #fff;
  transition: 0.3s all;
  text-decoration: none;
}

.navegacao .btn:hover {
  background-color: #a0adeb;
  color: #fff;
}
